body {
  font-size: 15px;
  margin: 0 auto;
  font-family: "Spartan", sans-serif;
  background-color: #effafa;
}

.header {
  height: 120px;
  background-color: #5ba4a4;
}
.header__imagen {
  height: 120px;
  background-image: url("../assets/images/bg-header-desktop.svg");
  background-size: cover;
}

/*/////////////////////////// End header */

/*/////////////////////////// start jobs box */

.jobs {
  background-color: #effafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.jobs__container {
  width: 33%;
  margin: 26px 26px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border-left: 4px solid #5ba4a4;
  box-shadow: 12px 12px 22px -17px #2c3a3a;
}
.jobs__left {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.jobs__left .jobs__image img {
  margin-right: 10px;
}
.jobs__description__top {
  display: flex;
  align-items: center;
}
.jobs__description__top p {
  margin: 0;
  color: #5ba4a4;
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
}
.jobs__description__top a {
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
  padding: 5px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 10px;
}
.jobs__description__top .jobs__description__top--blue {
  background: #5ba4a4;
}
.jobs__description__top .jobs__description__top--black {
  background: #2c3a3a;
}
.jobs__description__middle h3 {
  margin: 16px 0;
  font-weight: 700;
  color: #2c3a3a;
}
.jobs__description__botton li {
  margin: 0;
  display: flex;
  padding: 0;
}
.jobs__description__botton li p {
  margin: 0;
  display: list-item;
  margin-right: 26px;
  color: #7b8e8e;
}
.jobs__description__botton li p:first-child {
  display: block;
}

.jobs__right {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.jobs__right li {
  list-style: none;
  display: flex;
}
.jobs__right li p {
  margin: 0;
  color: #5ba4a4;
  background-color: #effafa;
  border-radius: 8px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}
.jobs__right li p:hover {
  background-color: #ccd7d7;
}
.jobs .rojo {
  background-color: red;
}

.jobs__filter {
  text-align: center;
  padding: 24px;
}

.jobs__filter a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 12px;
  border-radius: 8px;
  background-color: #63baba;
  margin: 8px;
}

.jobs__filter a:hover {
  background-color: #5ba4a4;
}

.jobs__filter a:checked {
  background: red;
}

.jobs__filter div div {
  height: 68px;
  line-height: 62px;
}

input {
  padding: 12px;
  width: 300px;
  border: none;
  border-radius: 14px;
  outline: none;
}

.rojo {
  background-color: rgb(20, 48, 90) !important;
}
